.mainContainer {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 15px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .mainContainer {
    grid-template-columns: auto;
    gap: 0px;
  }
}
