.itemTitle {
  text-align: center;
  margin-bottom: 5px;
}

.descContainer {
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);

  width: 100%;

  padding: 10px 2vw 0 2vw;
  text-align: center;

  overflow: auto;
}

.descContainer > img {
  height: 50%;
  width: 100%;

  margin: 10px auto;

  object-fit: contain;
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.descContainer > p {
  margin: 10px 0;
}

/*TODO*/
@media screen and (min-width: 480px) {
  .descContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--track-shadow);
    background-color: var(--background-color-track);
  }

  .descContainer::-webkit-scrollbar {
    width: 3px;
    background-color: var(--background-color-scrollbar);
  }

  .descContainer::-webkit-scrollbar-thumb {
    background-color: var(--background-color-thumb);
  }
}
