.toastMain {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90%;
  width: 90%;

  /* border: 1px solid black; */
  overflow: hidden;
}

.bannerStack {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  overflow: hidden;
}

.btn {
  height: max-content;
  width: max-content;
  padding: 10px 15px;

  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  box-shadow: var(--dark-shadow);

  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: hsl(185deg 62% 45%);
  color: white;
}
