.mapMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);

  overflow: hidden;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 215px);
  width: 100%;
}

.searchContainer > form {
  height: max-content;
  width: 40%;
}

.btn {
  height: max-content;
  width: max-content;
  margin: 20px;
  padding: 10px 15px;

  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  box-shadow: var(--dark-shadow);

  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

.searchContent {
  display: grid;
  grid-auto-columns: 1fr;
  justify-items: center;

  height: 100%;
  width: 80%;
  margin-top: 10px;

  overflow: auto;
}

.searchContent > p {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: max-content;
  width: 40%;
  margin: 10px;
  padding: 20px;
  text-align: center;

  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.card > h1 {
  font-size: 15px;
}

.card > img {
  height: 150px;
}

.card > p {
  font-size: 10px;
}

.card > span {
  font-size: 10px;
}

@media screen and (max-width: 480px) {
  .searchContainer > form {
    width: 80%;
  }
  .searchContent {
    width: 100%;
  }
  .card {
    width: 90%;
  }
}
