.mapMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);

  overflow: hidden;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 10px;
}

form {
  height: max-content;
  width: 40%;
}

.btn {
  height: max-content;
  width: max-content;
  margin: 20px;
  padding: 10px 15px;

  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  box-shadow: var(--dark-shadow);

  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: black;
  color: white;
}
