.wrapperContainer {
  width: 75vw;
  height: 100%;
  margin: 0 auto;

  /* <---Test--> */
  /* position: relative; */
  /* border: 1px solid black; */
  /* z-index: 10; */
}

@media screen and (max-width: 480px) {
  .wrapperContainer {
    width: 95%;
  }
}
