.itemContainer {
  display: grid;
  grid-template-columns: 150px auto 50px;
  grid-template-rows: 130px;
  gap: 15px;
  align-items: center;

  height: 150px;
  width: 100%;

  padding: 10px;

  /* border: 1px solid black; */
}

.testDive1 {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 171, 180);
}

.testDive1 > img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.testDive {
  height: 100%;
  width: 100%;

  background-color: rgb(110, 125, 126);
  cursor: pointer;
}
