.itemContainer {
  display: grid;
  grid-template-columns: 150px auto 20px;
  grid-template-rows: 130px;
  gap: 15px;

  align-items: center;

  height: 150px;
  width: 100%;

  padding: 10px;
  border-radius: var(--radius);
  /* border: 1px solid black; */
}

.itemContainer:hover {
  background-color: rgba(37, 171, 180, 0.1);
}

.previewBox {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
}

.previewBox > img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.itemDetails {
  position: relative;
  height: 100%;
  width: 100%;

  padding: 10px;

  /* border: 1px solid black; */
}

.itemDetails > h3 {
  margin-bottom: 10px;
}

.itemDetails > p {
  margin-bottom: 10px;
}

.linksWrapper {
  position: absolute;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 35px;
  width: 75px;

  bottom: 5px;
  left: 5px;

  /* border: 1px solid black; */
}

.linksWrapper > svg {
  cursor: pointer;
}

.moreArrow {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50%;
  width: 100%;

  cursor: pointer;
}

.moreArrow > svg {
  font-size: 1.2rem;
}

.moreArrow > svg:hover {
  color: rgb(0, 183, 255);
}

@media screen and (max-width: 480px) {
  .itemContainer {
    grid-template-columns: 100px auto 20px;
    grid-template-rows: 130px;
    gap: 5px;
  }

  .previewBox > img {
    height: 100px;
  }

  .itemDetails > h3 {
    font-size: 1rem;
  }

  .itemDetails > p {
    font-size: 0.9rem;
  }
}
