.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 120px;
  width: 100%;
  padding: 15px 20px;

  border: 1px solid transparent;
  border-radius: 0 0 5px 5px;
  box-shadow: var(--dark-shadow);

  color: white;
}

.logo {
  letter-spacing: 10px;
}

.userContainer {
  display: grid;
}

.userDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0 10px 10px;
  padding: 1px;
  border-radius: 50%;

  transition: all 0.3s;
}

.avatarCircle:hover {
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.avatarCircle > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .headerWrapper {
    padding: 5px 10px;
  }

  .logo {
    letter-spacing: 1vw;
    font-size: 10px;
  }

  .userDetails {
    font-size: 0.8rem;
  }

  .avatarCircle > img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
  }
}
