.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100%;

  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

button {
  margin-top: 10px;
}
