.descContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);

  overflow: auto;
}

.backIcon {
  display: none;
}

@media screen and (max-width: 480px) {
  .backIcon {
    display: block;

    height: max-content;
    width: 100%;

    padding-top: 10px;
    padding-left: 10px;
  }

  .backIcon > svg:hover {
    color: rgb(0, 183, 255);
  }
}
