.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchContainer > form > input[type="text"] {
  width: 70%;
}

.btn {
  height: max-content;
  width: max-content;
  margin: 20px;
  padding: 10px 15px;

  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  box-shadow: var(--dark-shadow);

  cursor: pointer;
  transition: all 0.3s linear;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 480px) {
  form {
    flex-direction: column;
  }
}
