.dashboardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  height: calc(100vh - 140px);
  width: 100%;
}

main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;

  z-index: -1;

  transition: all 0.5s linear;
}

.homeStyle:before {
  background-color: #09476b;
}

.reactStyle:before {
  background-color: #0c5986;
}

.cssStyle:before {
  background-color: #0e6aa0;
}
