.dashboardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  height: calc(100vh - 140px);
  width: 100%;
}

main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;

  z-index: -1;

  transition: all 0.5s linear;

  background-color: black;
}

.homeStyle:before {
  background-color: hsla(235, 55%, 21%, 0.85);
}

.reactStyle:before {
  background-color: teal;
}

.cssStyle:before {
  background-color: rgb(75 140 75);
}
