.circularWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90%;
  width: 90%;

  overflow: hidden;
}

.loader1 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 8vw;
  width: 8vw;

  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid black;
}

.loader2 {
  height: 98%;
  width: 98%;

  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid black;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader1:hover {
  animation: loading 2s infinite linear;
}

.loader1:hover .loader2 {
  animation: loading 5s infinite linear;
}

@media screen and (max-width: 480px) {
  .loader1 {
    height: 30vw;
    width: 30vw;
  }
}
