.navWrapper {
  display: flex;
  justify-content: flex-start;

  height: 100%;
  width: 100%;

  padding-left: 10px;
}

.navItems {
  display: flex;
}

.navItems > li {
  list-style: none;

  height: max-content;
  width: max-content;
  margin: 0 5px;
  padding: 5px 0;

  border: 1px solid transparent;
  border-radius: var(--radius);

  transition: all 0.3s;
}

/* --> For Active link

.activeItem {
  box-shadow: var(--dark-shadow);
}

<-- */

.navItems > li:hover {
  box-shadow: var(--dark-shadow);
}

.navItems > li > a {
  text-decoration: none;
  color: white;

  padding: 5px 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .navWrapper {
    padding-left: 0;
  }
}
