.compContainer {
  height: 100%;
  width: 100%;

  padding: 10px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);

  overflow: auto;
}

.scrollBox {
  height: 100%;
  width: 100%;
  padding-right: 5px;
  overflow: auto;
}

/* TODO */
@media screen and (min-width: 480px) {
  .scrollBox::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--track-shadow);
    background-color: var(--background-color-track);
  }

  .scrollBox::-webkit-scrollbar {
    width: 3px;
    background-color: var(--background-color-scrollbar);
  }

  .scrollBox::-webkit-scrollbar-thumb {
    background-color: var(--background-color-thumb);
  }
}
